
@font-face {
    src: url('../resource/font/SukhumvitSet-SemiBold.ttf');
}

@font-face {
    src: url('../resource/font/SukhumvitSet-Light.ttf');
}

@font-face {
    src: url('../resource/font/SukhumvitSet-Bold.ttf');
}

@font-face {
    src: url('../resource/font/SukhumvitSet-Text.ttf');
}

@font-face {
    src: url('../resource/font/SukhumvitSet-Medium.ttf');
}
