#pay{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#labe0{
    -fx-font-family: "Sukhumvit Set";
}

#label1{
    -fx-font-family: "Sukhumvit Set";
}

#label2{
    -fx-font-family: "Sukhumvit Set";
}

#label3{
    -fx-font-family: "Sukhumvit Set";
}

#label4{
    -fx-font-family: "Sukhumvit Set";
}

#label5{
    -fx-font-family: "Sukhumvit Set";
}

#label6{
    -fx-font-family: "Sukhumvit Set";
}

#label7{
    -fx-font-family: "Sukhumvit Set";
}

#label8{
    -fx-font-family: "Sukhumvit Set";
}

#label9{
    -fx-font-family: "Sukhumvit Set";
}

#label10{
    -fx-font-family: "Sukhumvit Set";
}

#label11{
    -fx-font-family: "Sukhumvit Set";
}
