.add-font {
    -fx-font-family: 'Sukhumvit Set';
}

.dash-label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.title-label {
    -fx-font-size: 34;
}

.card-view {
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
    -fx-border-radius: 5;
}

.card-title{
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-fill: #4f4f4f;
}

.card-body{
    -fx-font-size: 16;
    -fx-text-fill: #575757;
}

.card-button{

}