/*******************************************************************************
 *                                                                             *
 * init font           	                                                       *
 *                                                                             *
 ******************************************************************************/
.add-font {
    -fx-font-family: 'Sukhumvit Set';
}

/*******************************************************************************
 *                                                                             *
 * Label           	                                                           *
 *                                                                             *
 ******************************************************************************/
.dash-label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.title-label {
    -fx-font-size: 34;
}

/*******************************************************************************
 *                                                                             *
 * Materials Design Card         	                                           *
 *                                                                             *
 ******************************************************************************/
.card-view {
    /*Exception*/
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
    -fx-border-radius: 5;
}

.card-title{
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-fill: #4f4f4f;
}

.card-body{
    -fx-font-size: 16;
    -fx-text-fill: #575757;
}


.scroll-pane > .corner {
    -fx-background-color: rgba(0, 0, 0, 0.84);
}

/*******************************************************************************
 *                                                                             *
 * Button          	                                                       *
 *                                                                             *
 ******************************************************************************/
.card-button{

}

.detail-button{
    -fx-background-color: #228B22;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane          	                                                       *
 *                                                                             *
 ******************************************************************************/
.scroll-pane{
    -fx-border-color:derive(gray,80%);
}

/* The main scrollbar CSS class of ListView */
.scroll-pane .scroll-bar:horizontal ,
.scroll-pane  .scroll-bar:vertical{
    -fx-background-color:transparent;

}

/* The increment and decrement button CSS class of scrollbar */
.scroll-pane .increment-button ,.scroll-pane .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
    -fx-padding: 0;
}

/* The main scrollbar **track** CSS class  */
.scroll-pane .scroll-bar:horizontal .track ,
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */



/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.scroll-pane .scroll-bar .thumb:hover,
.scroll-pane .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

.scroll-pane .increment-button:hover ,.scroll-pane .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
    -fx-border-color:derive(gray,80%);
}

/*******************************************************************************
 *                                                                             *
 * TreeTableView            			                       				   *
 *                                                                             *
 ******************************************************************************/
.tree-table-view .column-header .label {
    -fx-font-size: 16px;
    -fx-text-fill: #4c4c4c;
    -fx-padding: 16 0 16 0;
}

.tree-table-view {
    -fx-font-size: 16;
    -fx-tree-table-color: rgba(52, 100, 181, 0.71);
}

.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.tree-table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-overlay {
    -fx-background-color: rgba(52, 100, 181, 0.8);
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header {
    -fx-background-color: rgba(52, 100, 181, 0.8);

}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.tree-table-row-cell .jfx-text-field {

}